footer.footer 
    .footer__content 
        .footer__content-left(id="contacts") 
            a(href="") 
                img.footer__content-leftLogo(src="./images/logo.webp", alt="")
            .footer__content-lists 
                ul.footer__content-list1 
                    li: a.footer__content-icon(href="")
                        img(src="./images/facebook.webp", alt="") 
                    li: a.footer__content-icon(href="")
                        img(src="./images/instagram.webp", alt="") 
                    li: a.footer__content-icon(href="")
                        img(src="./images/tg.webp", alt="") 
                ul.footer__content-listContact  
                    p.footer__content-title CONTACT
                    li: a.footer__content-number(href="tel: (302) 555-0107") (302) 555-0107
                    li: a.footer__content-number(href="tel: (239) 555-0108") (239) 555-0108
                    li: a.footer__content-number(href="#") laperle.com
                ul.footer__content-listLocation
                    p.footer__content-title LOCATION
                    p.footer__content-text 1901 Thornridge Cir. Shiloh, Hawaii 81063
        .footer__content-right 
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d186521.94795899277!2d12.341728425000001!3d43.074970900000004!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132e9d4740b4c3e5%3A0x47de324eddc737d8!2z0KbQtdGA0LrQvtCy0Ywg0KHQsNC9IC0g0KTRgNCw0L3Rh9C10YHQutC-INCyINCQ0YHRgdC40LfQuA!5e0!3m2!1sru!2s!4v1646467674745!5m2!1sru!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
