header.header 
    .header__box
        img.header__box-bg(src="./images/header-bg.webp", alt="") 
        .header__box-items 
            .header__box-burgerBtn
                span.header__box-span 
                span.header__box-span2 
                span.header__box-span3 
            a.header__box-btn(href="#") RESERVATION
        .header__box-overlay 

        .header__box-burgerMenu 
            img.header__box-logo(src="./images/logo.webp", alt="")
            .header__box-listBlock 
                ul.burgerMenu-list
                    li: a(href='./menu.html').header__box-link MENU  
                    li: a(href="./about.html").header__box-link ABOUT  
                    li: a(href="#").header__box-link RESERVATION  
                    li: a(href="#").header__box-link NEWS  
                    li: a(href="#").header__box-link EVENTS  
                    li: a(href="#").header__box-link CAREES  
                    li: a(href="#").header__box-link CONTACT   
            .header__box-icons 
                a(href="#")
                    img.icon(src="./images/facebook.webp", alt="")
                a(href="#")
                    img.icon(src="./images/instagram.webp", alt="")
                a(href="#")
                    img.icon(src="./images/tg.webp", alt="")
            .header__box-lang
                p.header__box-en EN 
                p.header__box-ru /RU
