main.main 
    .main__content
        .main__content-menuBlock
            .main__content-meat
                img.main__content-meatImg(src="./images/section-cake1.webp",alt="")
            .main__content-menu 
                p.main__content-menuTitle MENU
                p.main__content-menuText Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse auctor sollicitudin arcu scelerisque tellus tincidunt arcu. Fermentum est, hendrerit cras commodo tellus. Ante nulla neque accumsan dignissim viverra varius. Leo adipiscing a pretium quam turpis eget lectus molestie.
                a.main__content-menuBtn(href="") READ MORE
        .main__content-eventBlock
            .main__content-event 
                p.main__content-eventTitle EVENTS
                p.main__content-eventText Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam maecenas purus velit interdum augue. Amet diam diam ultrices ut tincidunt. Risus semper sit mauris, vitae. Vel arcu bibendum accumsan, lacinia nisl.
                a.main__content-eventBtn(href="") READ MORE
            .main__content-room
                img.main__content-roomImg(src="./images/living-room.webp", alt="")
        .main__content-menuBlock 
            .main__content-meat
                img.main__content-meatImg(src="./images/people.webp",alt="")
            .main__content-menu 
                p.main__content-menuTitle ABOUT US
                p.main__content-menuText Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse auctor sollicitudin arcu scelerisque tellus tincidunt arcu. Fermentum est, hendrerit cras commodo tellus. Ante nulla neque accumsan dignissim viverra varius. Leo adipiscing a pretium quam turpis eget lectus molestie.
                a.main__content-menuBtn(href="") READ MORE
                
        .main__content-cardsTop
            .main__content-card
                img.main__content-cardImg(src="./images/section-cake2.webp",alt="")
                p.main__content-cardText VALENTINE’S DAY
            .main__content-card
                img.main__content-cardImg(src="./images/fish.webp",alt="")
                p.main__content-cardText ENJOY 25% OFF DINNER 
            .main__content-card
                img.main__content-cardImg(src="./images/section-cake4.webp",alt="")
                p.main__content-cardText FISH TARTARE WITH WASABI
        .main__content-cardsBottom  
            .main__content-card
                img.main__content-cardImg(src="./images/restaurant-perview.webp", alt="")
                p.main__content-cardText RESTAURANT REVIEW
            .main__content-card
                img.main__content-cardImg(src="./images/section-cake5.webp",alt="")
                p.main__content-cardText MOTHER’S DAY 
            .main__content-card
                p.main__content-cardTextBlack CONTINUE READING OUR NEWS HERE

        section.main__content-section
            .main__content-sectionForm 
                form.main__content-form
                    .main__content-inputBlock
                        input(type="text" name="date" placeholder="Date").main__content-input
                    .main__content-inputBlock
                        input(type="number" name="How many people" placeholder="How many people").main__content-input
                    .main__content-inputBlock
                        input(type="text" name="" placeholder="Your name").main__content-input
                form.main__content-form
                    .main__content-inputBlock
                        input(type="text" name="date" placeholder="Time").main__content-input
                    .main__content-inputBlock
                        input(type="number" name="How many people" placeholder="Special wishes").main__content-input
                    .main__content-inputBlock
                        input(type="text" name="" placeholder="Your phone").main__content-input
                .main__content-formItems
                    a.main__content-reservBtn(href="#") RESERVATION 
                    p.main__content-sectionText Monday - Sunday ; 09:00 - 02:00 
            .main__content-sectionRight 
                .main__content-resrv
                    p.main__content-reservTitle RESERVE A TABLE
                    p.main__content-reservText Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt a at amet vulputate libero nisi, enim. Mi consequat duis ac malesuada et phasellus sit. Luctus aliquam bibendum semper adipiscing. Tristique tristique semper vestibulum nisi senectus dictum ultricies sodales sagittis. 
                    p.main__content-reservText2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt a at amet vulputate libero nisi, enim. Mi consequat duis ac malesuada et phasellus sit.
                  
                


