main.main 
    .main__content
        .main__content-items
            .main__content-slider 
                .main__content-sliderLine   
                    .main__content-sliderSlide 
                        img.main__content-sliderImg(src="./images/fish.webp", alt="")
                    .main__content-sliderSlide 
                        img.main__content-sliderImg(src="./images/shrimps.webp", alt="")
                    .main__content-sliderSlide 
                        img.main__content-sliderImg(src="./images/section-cake6.webp", alt="")
                    .main__content-sliderSlide 
                        img.main__content-sliderImg(src="./images/section-cake5.webp", alt="")
                    .main__content-sliderSlide 
                        img.main__content-sliderImg(src="./images/section-cake4.webp", alt="")
                .main__content-sliderControls 
                    li.main__content-sliderPrev 
                    li.main__content-sliderNext 
            .main__content-itemsRight 
                .main__content-first    
                    p.main__content-firstText 1 st
                    .main__content-firstItem 
                        p.main__content-firstTitle TUNA
                        p.main__content-firstDescr Layers of Thinly Pounded Yellowfin Tuna; Foie Gras, Toasted Baguette, Chives, Extra Virgin Olive Oil 38$
                        p.main__content-firstTitle CRAB
                        p.main__content-firstDescr Warm Peekytoe Crab; Yuzu Rice, Green Tea-Nori Consommé 55$
                        p.main__content-firstTitle SALMON
                        p.main__content-firstDescr Barely Cooked Faroe Islands Salmon; Black Truffle “Pot-au-Feu” 57$
                        p.main__content-firstTitle TUNA
                        p.main__content-firstDescr Layers of Thinly Pounded Yellowfin Tuna; Foie Gras, Toasted Baguette, Chives, Extra Virgin Olive Oil 38$
                        p.main__content-firstTitle CRAB
                        p.main__content-firstDescr Warm Peekytoe Crab; Yuzu Rice, Green Tea-Nori Consommé 55$
                        p.main__content-firstTitle SALMON
                        p.main__content-firstDescr Barely Cooked Faroe Islands Salmon; Black Truffle “Pot-au-Feu” 57$
                        p.main__content-firstTitle TUNA
                        p.main__content-firstDescr Layers of Thinly Pounded Yellowfin Tuna; Foie Gras, Toasted Baguette, Chives, Extra Virgin Olive Oil 38$
                        p.main__content-firstTitle CRAB
                        p.main__content-firstDescr Warm Peekytoe Crab; Yuzu Rice, Green Tea-Nori Consommé 55$
                        p.main__content-firstTitle SALMON
                        p.main__content-firstDescr Barely Cooked Faroe Islands Salmon; Black Truffle “Pot-au-Feu” 57$




        section.main__content-section
            .main__content-sectionForm 
                form.main__content-form
                    .main__content-inputBlock
                        input(type="text" name="date" placeholder="Date").main__content-input
                    .main__content-inputBlock
                        input(type="number" name="How many people" placeholder="How many people").main__content-input
                    .main__content-inputBlock
                        input(type="text" name="" placeholder="Your name").main__content-input
                form.main__content-form
                    .main__content-inputBlock
                        input(type="text" name="date" placeholder="Time").main__content-input
                    .main__content-inputBlock
                        input(type="number" name="How many people" placeholder="Special wishes").main__content-input
                    .main__content-inputBlock
                        input(type="text" name="" placeholder="Your phone").main__content-input
                .main__content-formItems
                    a.main__content-reservBtn(href="#") RESERVATION 
                    p.main__content-sectionText Monday - Sunday ; 09:00 - 02:00 
            .main__content-sectionRight 
                .main__content-resrv
                    p.main__content-reservTitle RESERVE A TABLE
                    p.main__content-reservText Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt a at amet vulputate libero nisi, enim. Mi consequat duis ac malesuada et phasellus sit. Luctus aliquam bibendum semper adipiscing. Tristique tristique semper vestibulum nisi senectus dictum ultricies sodales sagittis. 
                    p.main__content-reservText2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt a at amet vulputate libero nisi, enim. Mi consequat duis ac malesuada et phasellus sit.