main.main 
    .main__content
        

        section.main__content-section
            .main__content-sectionForm 
                form.main__content-form
                    .main__content-inputBlock
                        input(type="text" name="date" placeholder="Date").main__content-input
                    .main__content-inputBlock
                        input(type="number" name="How many people" placeholder="How many people").main__content-input
                    .main__content-inputBlock
                        input(type="text" name="" placeholder="Your name").main__content-input
                form.main__content-form
                    .main__content-inputBlock
                        input(type="text" name="date" placeholder="Time").main__content-input
                    .main__content-inputBlock
                        input(type="number" name="How many people" placeholder="Special wishes").main__content-input
                    .main__content-inputBlock
                        input(type="text" name="" placeholder="Your phone").main__content-input
                .main__content-formItems
                    a.main__content-reservBtn(href="#") RESERVATION 
                    p.main__content-sectionText Monday - Sunday ; 09:00 - 02:00 
            .main__content-sectionRight 
                .main__content-resrv
                    p.main__content-reservTitle RESERVE A TABLE
                    p.main__content-reservText Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt a at amet vulputate libero nisi, enim. Mi consequat duis ac malesuada et phasellus sit. Luctus aliquam bibendum semper adipiscing. Tristique tristique semper vestibulum nisi senectus dictum ultricies sodales sagittis. 
                    p.main__content-reservText2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Tincidunt a at amet vulputate libero nisi, enim. Mi consequat duis ac malesuada et phasellus sit.